<h1>用户须知&本站管理规则</h1>
<h5>作者: 本站管理员 Alex_omega&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建时间:2023/07/17/ 16:32:20</h5>
<body>
<pre>

<big>本文章为《ETRO-website网站 用户须知》改版。</big></pre>



<p><big><small>任何来到本站的用户都必须遵守本规则。进入并使用本站功能默认您已知晓并同意以下内容和规则。</small></big></p>



<h2><big><small>一、用户发表的文章或上传的资源管理办法及上传规则</small></big></h2>



<p><small><strong>第一条</strong> 对本规则内</small>&quot;不当言论&quot;或&quot;不当内容&quot;的定义：</p>



<ul>

	<li>含有违反中国法律的内容；</li>

	<li>传播不雅信息或传播违法行为或思想的内容；</li>

	<li>辱骂他人的内容；</li>

	<li>描述违法行为而不明确指出&quot;该行为违法，在此仅做警示作用，请勿模仿&quot;的；</li>

	<li>其他不符合中国公民应有的道德的内容。</li>

</ul>



<p><strong>第二条&nbsp;</strong>任何用户上传的文章和上传的文件均会被公开。</p>



<p><strong>第三条</strong>&nbsp;用户上传的文章（包括标题和内容）都受到严格规范，它们不能含有不当内容或言论；用户上传的文件标题不能含有不当内容。如有发现这两者的违规，按照第五条办法处理。文件内容不定期抽查，如发现含有不当内容的按第五条办法处理。</p>



<p><strong>第四条</strong>&nbsp;所有本站列出的文件和文章，除特殊说明外，均为用户上传。其中言论仅代表用户个人思想，与网站管理层人员无关；其中内容产生的任何不良影响应由上传的用户承担一切责任，我们拒不担责。</p>



<p><strong>第五条</strong>&nbsp;用户上传的资源（即文件和文章）如有违规，按照以下办法处理：</p>



<ul>

	<li>属于第三条第一类的：

	<ul>

		<li>首次发现：仅封禁该用户3天</li>

		<li>二次发现：封禁该用户28天并将该用户用户名放置在网站首页公告中以示众</li>

		<li>三次发现：永久封禁并将该用户用户名放置在网站首页公告中以示众</li>

	</ul>

	</li>

	<li>属于第三条第二类的：

	<ul>

		<li>首次发现：警告该用户</li>

		<li>二次发现：封禁该用户3天</li>

		<li>三次发现或情节严重的：封禁28天并将该用户用户名放置在网站首页公告中以示众，另外警告下载了该文件的用户删除</li>

		<li>四次发现或情节极为严重的：永久封禁并将该用户用户名放置在网站首页公告中以示众，另外警告下载了该文件的用户删除</li>

	</ul>

	</li>

</ul>



<p>同时删除违规的文章或文件。</p>



<p><strong>第六条</strong>&nbsp;文章字数限制在32767字以内，超过则请分开发布；文件大小限制在10M以内，超过请找管理员特别授权。</p>



<h2><big><small>二、网络安全及对应事件管理办法</small></big></h2>



<p><small><big><strong>第七条</strong>&nbsp;根据《中华人民共和国刑法》第二百五十八条相关规定，</big></small></p>



<p><small><big>违反国家规定，侵入国家事务、国防建设、尖端科学技术领域的计算机信息系统的，处三年以下有期徒刑或者拘役。违反国家规定，侵入前款规定以外的计算机信息系统或者采用其他技术手段，获取该计算机信息系统中存储、处理或者传输的数据，或者对该计算机信息系统实施非法控制，情节严重的，处三年以下有期徒刑或者拘役，并处或者单处罚金；情节特别严重的，处三年以上七年以下有期徒刑，并处罚金。</big></small></p>



<p><small><big>提供专门用于侵入、非法控制计算机信息系统的程序、工具，或者明知他人实施侵入、非法控制计算机信息系统的违法犯罪行为而为其提供程序、工具，情节严重的，依照前款的规定处罚。这意味着任何尝试攻击的行为均不合法。一旦发现，除永久封禁并将ip示众外，您还应当承担对应的法律责任。</big></small></p>



<p><small><big><strong>第八条</strong>&nbsp;如有用户通过攻击手段取得了利益，则应当按原价的3倍赔偿。</big></small></p>



<p><small><big><strong>第九条</strong>&nbsp;违反第七条的用户将永久封禁并将IP公开示众。</big></small></p>



<h2><big><small>三、网站工具箱免责声明</small></big></h2>



<p><small><big><strong>第十条</strong></big>&nbsp;<big>我站向用户开放</big></small>&quot;工具箱&quot;功能的初衷是为了方便用户便捷地操作；请勿用它伪造或获取违法信息。发现者按第五条第一类用户处理。</p>



<p><strong>第十一条</strong>&nbsp;您可以任意地使用本站工具而不受到除工作人员外的其他人的监视。</p>



<p><strong>第十二条</strong>&nbsp;部分功能需要vip才能使用，开通vip的费用将全部用于网站维护或升级。</p>



<h3><big>四、用户数据管理办法</big></h3>



<p><small><strong><big>第十三条&nbsp;</big></strong><big>我们会获取一些您在网站使用过程中产生或上传的数据，包括您的浏览器版本、电脑硬件情况、上传的文件和文章、登录时的密码和用户名、创建账户时的邮箱、您的固件IP地址。我们不将获取您的其他数据（除浏览器自动上传外），并且在大部分时候对您的数据保密处理。</big></small></p>



<p><small><big><strong>第十四条</strong>&nbsp;上款中提到的&quot;大部分时候&quot;指您在正常使用网站时。我们将在您违反本站规则时一定程度上公示您的部分信息。具体已在上述条例中说明。</big></small></p>

</body>
<a href=""
