
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="display-4">管理员界面-删除文章</h1>
        <hr>
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.artiname.label }}
                {% if form.artiname.errors %}
                    {{ form.artiname(class='form-control is-invalid') }}
                    {% for error in form.artiame.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.artiname(class='form-control') }}
                {% endif %}
            </div>
            <p>{{ notice }}</p>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

