<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Echarts图表形式一览</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="{{ url_for('havevip') }}">购买会员</a></li>
            <li><a href="{{ url_for('user_space',username=i) }}">我的空间</a></li>
        </ul>
    </nav>


    <ul>
        <li><a href="echarts/twoaxis">坐标轴图像展示</a></li>
        <li><a href="echarts/datasets">数据集图表展示</a></li>
        <li><a href="echarts/piedata">饼图展示</a></li>
        <li><a href="echarts/otherwise">含超链接图表展示</a></li>
    </ul>


    <footer>
        {% block footer %}
            <small>CopyRight &copy; Inc. 2023 <a href="https://github.com/ZYpS-leader" title="Author's Github">GitHub</a> /
                <a href="http://helloflask.com" title="Base on flask">Project from Flask</a>
            </small>
        {% endblock %}
    </footer>
</body>
</html>