{% extends 'base.html' %}
{% block content %}
{% set name='baz' %}
<h1>公告</h1>
<h5>按时间排序</h5>
<ul>
    <li>2023.7.13 面向大众开放后出现的紧急重大型bug已修复</li>

    <li>2023.7.14 网站工具箱功能开放</li>

    <li>2023.7.15 网站会员vip制度开放</li>

    <li>2023.7.16(1) 开发人员API接口正在制作中</li>

    <li>2023.7.16(2) 修复了注册时验证码无法输入的问题和下载资源时的异常</li>

    <li>2023.7.17(1) 写作界面优化;文章显示的格式问题已修复</li>

    <li>2023.7.17(2) 意外的少量密码泄露.为了更好地保护用户数据,启动了哈希加盐加密法.现在网站管理员也不能知晓用户密码了. </li>

    <li>2023.7.18 用户数据丢失。非常抱歉。免费vip兑换码：<b>活动已结束</b></li>

    <li>2023.7.21 我正在全力修复新功能(社区功能)上线带来的各式bug,预计7.23前将全部修复.</li>
    <!--
    <li></li>
    <li></li>
    <li></li>
    -->
</ul>
<h1>目录</h1>
<ul>
    <li><a href="{{ url_for('index') }}">刷新</a></li>
    <li><a href="{{ url_for('signout') }}">登出</a></li>
    <li><a href="{{ url_for('join_us') }}">加入我们!</a></li>
    <li><a href="{{ url_for('create')}}">创建并发布文章</a></li>
    <li><a href="{{ url_for('upload') }}">上传资源</a></li>
</ul>
<h1>信息</h1>
<div class="body">
    <h3>通知</h3>
    <p>本站开设以来时间尚短,在一定程度上存在各种问题和bug,如遇网页上含有错误,请:
        <ul>
            <li>先查看是否有提供相关解决办法</li>
            <li>若无,请截图至<b>ETRO_omega@outlook.com</b>.</li>
        </ul>
        谢谢您的配合.
    </p>
    <h3>简介与初衷</h3>
    <ul>
        <li>我是此网站创始人,ETRO组织网络部的omega.我承诺将在未来一段时间内持续地更新并维护此网站.这将导致网站不定时停机而您在这段时间内无法访问.一般而言,更新会在晚上10:30后开始.如突发紧急事件,我也将在白天随时停站修复.敬请谅解.</li>
        <li>这个网站是基于Python的微服务框架Flask实现的.我在书籍《Flask Web开发实战：入门、进阶与原理解析》的帮助下得以完成该网站.如您也对此方面感兴趣,您可以在页面下方找到flask的网址.</li>
    </ul>
    <h3>致谢与招新</h3>
    <ul>
        <li>首先,请允许我感谢所有到访本网站的同学.感谢你们的支持!</li>
        <li>然后,我向ETRO的所有成员们表示衷心感谢.是你们带领我一起前行.</li>
        <li>最后,我希望表达对于全体帮助过开发的人员,包括一位神秘人物(TA的微信号是9位哦[<a href="/game">猜猜我是谁</a>]).没有你们帮助我进行测试,我也无法在起步阶段看到那么多的错误.</li>
        <li>当然,我还是得吐槽一波.据日志的不完全统计,在数天的开发中,我总计遇到了超过700个错误!!!头大!好在我<del>聪慧过人</del>修复了它们.</li>
        <li>如果您在 数学、物理、化学、数据科学、信息学 中感兴趣,请<a href="{{ url_for('join_us') }}">加入我们</a>!</li>

    </ul>
</div>
<h1>资源和文章</h1>
<ul>
    <li><a href="{{ url_for('allfiles') }}">资源列表</a></li>
    <li><a href="{{ url_for('articles') }}">文章列表</a></li>
</ul>
<h1>用户和社区</h1>
<ul>
    <li><a href="{{ url_for('userall') }}">所有用户</a></li>
    <li><a href="{{ url_for('user_space',username=i) }}">我自己的空间</a></li>
    <li><a href="/social/new">创建社区</a></li>
    <li><a href=""></a></li>
</ul>
<h1>工具箱</h1>
<ul>
    <li><a href="{{ url_for('patch') }}">爬取工具</a></li>
</ul>
{% endblock %}
